/* estructura general de la página del carrito */
.pagina-carrito {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  padding: 30px;
}

/* contenedor de la lista de productos */
.lista-productos {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px #292929;
}

/* producto individual del carrito */
.producto {
  display: grid;
  grid-template-columns: 90px 1fr auto;
  gap: 15px;
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
}

/* eliminar el borde del último producto */
.producto:last-child {
  border-bottom: none;
}

/* imagen del producto */
.producto img {
  width: 80px;
  border-radius: 6px;
}

/* nombre del producto */
.info-producto h3 {
  margin: 0;
  font-size: 25px;
}

/* descripción del producto */
.info-producto p {
  margin: 4px 0;
  font-size: 20px;
  color: #666;
}

/* precio del producto */
.precio {
  font-weight: bold;
  font-size: 20px;
}

/* botón para eliminar producto */
.btn-eliminar {
  border: none;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
  color: #888;
}

/* efecto hover del botón eliminar */
.btn-eliminar:hover {
  color: #d00000;
  scale: 1.5;
}

/* resumen del carrito */
.resumen-carrito {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  height: fit-content;
  box-shadow: 2px 2px 2px 2px #292929;
}

/* filas de información del resumen */
.resumen-carrito p {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 25px;
}

/* separador del resumen */
.resumen-carrito hr {
  margin: 15px 0;
}

/* total del carrito */
.total {
  font-size: 18px;
  font-weight: bold;
}

/* botón de pago */
.btn-pagar {
  width: 100%;
  font-size: 15px;
  margin-top: 20px;
  padding: 12px;
  border: none;
  background: #8c8c8c;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 1px 2px 2px #272727;
}

/* efecto hover del botón pagar */
.btn-pagar:hover {
  background: #6f6f6f;
}

/* adaptación para tablets */
@media (max-width: 992px) {
  .pagina-carrito {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 15px;
  }
}

/* adaptación para móviles */
@media (max-width: 600px) {
  .producto {
    grid-template-columns: 70px 1fr auto;
    gap: 10px;
  }

  .info-producto h3 {
    font-size: 18px;
  }

  .info-producto p,
  .precio {
    font-size: 16px;
  }

  .resumen-carrito p {
    font-size: 20px;
  }
}
