.main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 2000px;
  margin: 0 auto;
}

/* Contenedor del Carrusel */
.carrusel-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 7; 
  overflow: hidden;
}

.carrusel {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
  scroll-behavior: smooth;
}

.slide {
  flex: 0 0 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}


.controles {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  pointer-events: none;
}

.flecha {
  pointer-events: auto;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: 0.3s;
}

.flecha:hover {
  background: white;
  color: black;
}


.contenido {
  width: 100%;
  aspect-ratio: 16 / 8; 
  background-image: url('montañosmo.jpeg');
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}

.texto-overlay {
  background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
  color: white;
}

.texto-overlay h2 {
  font-size: 2rem;
  margin-bottom: 5px;
}
