/*La idea que tenía en el prototipo era con esta animación. Puedo entender lo que hace, pero está generada por ia */
.barra_superior {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 30px;
    background-color: #f1f1f1;
    text-align: center;
    background-color: #F77F2E;
    display: flex;
    justify-content: center;
  
    
  }
  
  .rotador {
    position: relative;
    width: 40%;
    height: 30px;
    overflow: hidden;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    
  }

  .rotador div {
    position: absolute;
    width: 100%;
    opacity: 0;
    animation: rotar 12s infinite;
  }
  .iconos {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 1.2em;
    display: flex;
    gap: 15px;
  }
  .iconos a {
    color: #000000;
  }
  
.iconos a:hover{
    color: #f1f1f1;
}
  
@keyframes rotar {
    0% { opacity: 0; transform: translateY(100%); }
    5% { opacity: 1; transform: translateY(0); }
    25% { opacity: 1; transform: translateY(0); }
    30% { opacity: 0; transform: translateY(-100%); }
    100% { opacity: 0; }
}

.rotador div:nth-child(1) { animation-delay: 0s; }
.rotador div:nth-child(2) { animation-delay: 4s; }
.rotador div:nth-child(3) { animation-delay: 8s; }