/* CONTENEDOR GENERAL */
.container {
    width: 100%;
    background-color: rgb(204, 204, 204);
}

/* CATEGORÍAS */
.categories {
    display: flex;
    justify-content: space-evenly;
    background: #1f2f28;
    padding: 20px;
    
}

.category {
    text-align: center;
    color: rgb(207, 204, 204);
    text-decoration: none;
}

.category img {
    width: 150px; 
    border-radius: 30%;
    object-fit: cover;
    border: 6px solid rgba(255, 255, 255, 0.733);
}

.category span {
    display: block;
    margin-top: 8px;
    font-weight: bold;
}

/* CONTENIDO */
.content {
    display: flex;
    gap: 20px;
}

/* CONTENEDOR GENERAL */
.filters {
  width: 280px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #fff;
  border-right: 1px solid #e0e0e0;
}

/* TÍTULOS */
.filters h3 {
  font-size: 15px;
  font-weight: 600;
  margin: 20px 0 10px;
}

/* ---------- PRECIO ---------- */

.filters input[type="range"] {
  width: 100%;
  margin: 10px 0;
}

#precios {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#precios input {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
  font-size: 13px;
}

/* ---------- CHECKBOXES ---------- */

.filters label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  color: #555;
  margin: 6px 0;
  cursor: pointer;
}

.filters input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #ccc;
}

/* ---------- SECCIONES ---------- */

.marcas,
.superior,
.Inferior,
.calzado {
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
}

/* ---------- COLORES ---------- */

.colors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.colors button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  font-size: 13px;
  cursor: pointer;
}

/* CÍRCULOS DE COLOR */
.colors div {
  width: 12px;
  height: 12px;
  border-radius: 3px;
  border: 1px solid #999;
}

.negro { background: #000; }
.azul { background: #2f4fff; }
.gris { background: #999; }
.rojo { background: #e60000; }
.blanco { background: #fff; }
.amarillo { background: #ffd400; }

/* ---------- HOVER ---------- */

.colors button:hover {
  border-color: #000;
}


/* PRODUCTOS */
.products {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 25px 0;
}

.product {
    background: rgb(255, 255, 255);
    padding-top:15px;
    border-radius: 8px;
    text-align: center;
}

.product img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.product h4 {
    margin: 10px 0;
}

.price {
    font-weight: bold;
    margin-bottom: 10px;
}

.product button {
    width: 100%;
    padding: 10px;
    border-radius:0 0 5px 5px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

.product button:hover {
    background: #333;
}