* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
  }

  .menu {
    background-color: #7B7B7B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    list-style: none;
    box-shadow: 2px 2px 2px #00000033;

  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 80px;
  }

  .logo img:hover {
  transform: scale(1.1);
  content: url('vertex5.png');
}

  .botones {
    display: flex;
    gap: 90px;
    list-style: none;
  }

  .botones li a {
    text-decoration: none;
    color: #092928;
    font-size: 25px;
    font-weight: 500;
  }
  .botones li a:hover {
    color: #F77F2E;
    text-shadow: 2px 2px#9b501d;
  }

  .busqueda {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 30px;
    padding: 10px 20px;
    width: 350px;
    height: 50px;
  }

  .busqueda input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 18px;
    color: #555;
    margin-left: 10px;
  }

  .busqueda i {
    font-size: 25px;
    color: #555;
  }

  .busqueda:hover{
    border:1px solid#092928;
  }

  .footer {
    background-color: #7B7B7B;
    color: #222;
    margin-top: 50px;
    padding: 30px 40px 10px 40px;
    font-size: 14px;
  }

  .footer-top {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
  }

  .footer .logo img {
    height: 120px;
    margin-left: 40px;
  }

  .footer-menu {
    display: flex;
    gap: 120px;
    flex: 1;
    justify-content:end;
    
  }

  .footer-column h4 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #111;
  }

  .footer-column ul {
    list-style: none;
  }

  .footer-column ul li {
    margin-bottom: 6px;
  }

  .footer-column a {
    color: #222;
    text-decoration: none;
    font-size: 16px;
  }

  .footer-column a:hover {
    color: #fff;
  }

  .social-icons {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .social-icons a:hover {
    background-color: #F77F2E;
    color: #fff;
  }

  .social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    color: #555;
    font-size: 14px;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    font-size: 15px;
  }

  .footer-bottom .info a {
    margin-left: 16px;
    color: #222;
    text-decoration: none;
  }

  .footer-bottom .info a:hover {
    color: #fff;
  }